@charset "utf-8";
body {
    border-top: #00B48B solid 5px;
    background: #fcfcfc;
}
nav{
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px;
}

.nav{padding: 0}
.nav li a .text{ float: right}
.nav > li > a > .img{width: 18px; height: 11px; float: right; margin: 8px 0 0 5px ; }
.nav li > a > .img > img{ width: 100%; height: 100%; display: block}
.nav > li .dropdown-item{ text-align: left}
.dropdown-menu{min-width: 140px;}
.dropdown-menu a .img{width: 18px; height: 11px; float: left; margin: 8px 5px 0 0;}
.dropdown-menu a .img img{ width: 100%; height: 100%; display: block}

/**/
.mainLogo{ width: 197px;}
.mainLogo img{ float: right}
.mainLogo .text{width: 105px;color: #1fa056; font-size: 14px; font-weight: bold; float: right; margin: 0 10px 0 0; text-align: center}

#wrapper{
    background: url('../images/bg.png');
}
.main-body {
    background-color: #FCFCFC;
}
.tab-content {
    width: 100%;
    background-color: #fff !important;
    padding: 10px 0px;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}
section {
    padding: 0px 0;
    margin-bottom: 33px;
}
section .section-title {
    text-align: center;
    color: #34799a;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.tabs {
    background: #fff;
    border-radius: 5px;
    padding-bottom: 50px;
    border: #EBEBEB solid 1px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px;
}


.tabs h6.section-title {
    color: #eee;
}
.tabs .tab-content {
    border: none;
}
.tabs .nav-tabs {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}
.tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
.tabs .tab-content {
    margin-top: 50px;
    text-align: center;
}
.tabs .tab-content .table-style-2 {
    width: 100%;
}
.tab-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px 25px;
    margin-bottom: 50px;
    font-weight: bold;
    color: #01799D;
    font-size: 20px;
}
::-webkit-input-placeholder {
    font-size: 10px;
}
::-moz-placeholder {
    font-size: 10px;
}
:-ms-input-placeholder {
    font-size: 10px;
}
::placeholder {
    font-size: 10px;
}
@font-face {
    font-family: Droid;
    src: url(../fonts/Droid.ttf);
}
body {
    direction: rtl;
    text-align:right;
    font-family: Droid;
    src: url("../fonts/Droid.ttf");
    src: url("../fonts/Droidbold.ttf");
}
@media all and (transform-3d), (-webkit-transform-3d) {
    @media (min-width: 544px) {}
    body {
        overflow-x: hidden;
    }
    #wrapper {
        padding-left: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #wrapper.toggled {
        padding-right: 350px;
    }
    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        right: 350px;
        width: 0;
        height: 100%;
        top: 0px;
        margin-right: -350px;
        overflow-y: auto;
        background-image: linear-gradient(180deg,rgba(0,179,139,1.00) 0%,rgba(6,137,196,1.00) 100%);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 350px;
    }
    #page-content-wrapper {
        width: 100%;
        position: absolute;
        padding: 15px;
    }
    #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-right: 0px;
    }
    @media(min-width:768px) {
        #wrapper {
            padding-left: 0;
        }
        #wrapper.toggled {
            padding-right: 350px;
        }
        #sidebar-wrapper {
            width: 0;
        }
        #wrapper.toggled #sidebar-wrapper {
            width: 350px;
        }
        #page-content-wrapper {
            padding: 20px;
            position: relative;
        }
        #wrapper.toggled #page-content-wrapper {
            position: relative;
            margin-right: 0;
        }
    }

}
.content-box{box-sizing: content-box;}
/*Fawzywassel@gmail.com ______ 01061072442*/
.row-value {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0px 20px;
    padding: 10px 0px;
}
.value {
    color: #01799D;
}
.cards-table tr:nth-of-type(even) {
    background-color: #F5F5F5;
}
.card-label {
    background-color: #01799D;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 7px;
}
.card-form-control {
    padding: 7px 7px;
    margin: 0px 0px;
}
.billhead{
    background: #eee;
    padding: 10px 10px;
    margin: 0px 20px;
}
.customradio {
    display: block;
    position: relative;
    padding-right: 40px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.customradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    background-color: #dee2e6;
    border-radius: 30%;
}
.customradio:hover input ~ .checkmark {
    background-color: #dee2e6;
}
.customradio input:checked ~ .checkmark {
    border-color: #00B48B !important;
    background-color: #00B48B !important;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.customradio input:checked ~ .checkmark:after {
    display: block;
}
.customradio .checkmark:after {
    top: 7px;
    right: 7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ffffff;
}
.btn-green{
    background-color: #01799D !important;
    color: #fff !important;
    border:1px solid   #01799D !important;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 1rem;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    min-width: 200.7px;
}



.form-control ,.custom-select{
    border-radius: unset;
}

.note{
    font-size: 10px;
    margin-right: 30px;
}

/*new classes added by Reham wahid*/
.shadow{

    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px !important;

}

.nav-pills li a{ color: #01799D}
.nav-pills .show > .nav-link{ background: #00B48B}


/*classes added by Reham Wahid*/
.float-left{ float: right !important}
.float-right{ float: left !important}

.btn-link{ padding-right: 0}
